<%- include("header") -%>



<h1>This is the about page.</h1>


<p>ipsem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione atque esse, eveniet error, modi nisi ab ipsam obcaecati, amet sint asperiores delectus distinctio! Necessitatibus nisi odit architecto commodi repellendus, minus quo modi at reprehenderit voluptates reiciendis magnam consequatur cupiditate. Mollitia!</p>





<%- include("footer") -%>
